# Default ignored files
/shelf/
/workspace.xml

# Ignore Java class files
*.class

# Ignore Visual Studio Code settings
.vscode/

# Ignore IntelliJ IDEA settings
.idea/

# Ignore Visual Studio Code settings
*.vscode/

# Ignore IntelliJ IDEA settings
*.idea/